<%= form_for(@reward) do |f| %>
  <% if @reward.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reward.errors.count, "error") %> prohibited this reward from being saved:</h2>

      <ul>
      <% @reward.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :offer_share_id %><br>
    <%= f.text_field :offer_share_id %>
  </div>
  <div class="field">
    <%= f.label :rewarded_on %><br>
    <%= f.datetime_select :rewarded_on %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
