<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @customer.description %>
</p>

<p>
  <strong>Active:</strong>
  <%= @customer.active %>
</p>

<p>
  <strong>Logo url:</strong>
  <%= @customer.logo_url %>
</p>

<% @customer.offers.each do |offer| %>
  <table>
    <thead>
      <tr>
        <td>Offer</td>
        <td>Advocates</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= offer.name %></td>
        <td><%= offer.offer_shares.count %></td>
        <td><%= offer.offer_shares.redemptions.count %></td>
      </tr>
    </tbody>
  </table>
<% end %>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
