<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @payment.customer %>
</p>

<p>
  <strong>Payment plan:</strong>
  <%= @payment.payment_plan %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @payment.amount %>
</p>

<p>
  <strong>Auth code:</strong>
  <%= @payment.auth_code %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
