<h1>Listing offers</h1>

<table>
  <thead>
    <tr>
      <th>Customer</th>
      <th>Name</th>
      <th>Description</th>
      <th>Reward description</th>
      <th>Reward factor</th>
      <th>Redemption value</th>
      <th>Active</th>
      <th>Image url</th>
      <th>Published</th>
      <th>Expires</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @offers.each do |offer| %>
      <tr>
        <td><%= offer.customer.name %></td>
        <td><%= offer.name %></td>
        <td><%= offer.description %></td>
        <td><%= offer.reward_description %></td>
        <td><%= offer.reward_factor %></td>
        <td><%= offer.redemption_value %></td>
        <td><%= offer.active %></td>
        <td><%= offer.image_url %></td>
        <td><%= offer.published %></td>
        <td><%= offer.expires %></td>
        <td><%= link_to 'Show', offer %></td>
        <td><%= link_to 'Edit', edit_offer_path(offer) %></td>
        <td><%= link_to 'Destroy', offer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Offer', new_offer_path %>
