<p>
  <strong>Customer:</strong>
  <%= @offer.customer.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @offer.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @offer.description %>
</p>

<p>
  <strong>Reward description:</strong>
  <%= @offer.reward_description %>
</p>

<p>
  <strong>Reward factor:</strong>
  <%= @offer.reward_factor %>
</p>

<p>
  <strong>Redemption value:</strong>
  <%= @offer.redemption_value %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @offer.image_url %>
</p>

<% if @offer.published? %>
<p>
  <strong>Published:</strong>
  <%= @offer.published %>
</p>
<% end %>
<table>
  <thead>
    <tr>
      <td>Advocate</td>
      <td>Redemptions</td>
      <td>Projected ROI</td>
    </tr>
  </thead>
  <tbody>
    <% @offer.offer_shares.each do |offer_share| %>
    <tr>
      <td><%= offer_share.advocate.email %></td>
      <td><%= offer_share.redemptions.count %></td>
      <td><%= offer_share.redemptions.count * @offer.redemption_value.to_i %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to 'Create Offer Share', new_offer_share_path(@offer, current_user) %>

<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>
