<h1>Listing offer_shares</h1>

<table>
  <thead>
    <tr>
      <th>Offer</th>
      <th>Advocate</th>
      <th>Code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @offer_shares.each do |offer_share| %>
      <tr>
        <td><%= offer_share.offer %></td>
        <td><%= offer_share.advocate %></td>
        <td><%= offer_share.code %></td>
        <td><%= link_to 'Show', offer_share %></td>
        <td><%= link_to 'Edit', edit_offer_share_path(offer_share) %></td>
        <td><%= link_to 'Destroy', offer_share, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Offer share', new_offer_share_path %>
